/* 65*16 = 1030px */
@media (max-width: 65em) {
  .home {
    height: 100%;
    display: grid;
    padding: 150px 25px 0 25px;
    justify-items: center;
  }

  .header {
    position: absolute;
  }

  .home-content {
    padding-top: 25px;
  }

  .navbar a {
    display: none;
  }

  .home-image {
    width: 325px;
    height: 325px;
  }

  .home-image img {
    max-width: 298px;
  }

  .home-content {
    text-align: center;
  }
}
