/* 65*16 = 1040px */
@media (max-width: 65em) {
  .home {
    height: 100%;
    display: grid;
    padding: 150px 25px 0 25px;
    justify-items: center;
    justify-content: center;
  }

  .header {
    position: absolute;
  }

  .home-content {
    padding-top: 25px;
  }

  .navbar a {
    display: none;
  }

  .home-image {
    width: 325px;
    height: 325px;
  }

  .home-image img {
    max-width: 296px;
  }

  .home-content {
    text-align: center;
  }
}

/* 38*16 = 600px */
@media (max-width: 38em) {
  .portfolio {
    height: 100%;
    display: grid;
  }

  .container {
    margin: 30px;
  }
}
